* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 450px;
}

/* Kotak Input */
.search-box {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #2b2d31;
    color: white;
}

button {
    padding: 10px 20px;
    background: #2c5ba7;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/* Card Hasil */
.card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    display: block;
}

.hidden { display: none; }

/* Header dinamis */
.res-header {
    padding: 30px 20px;
    text-align: center;
    color: white;
}

.res-content {
    background: #2b2d31;
    padding: 30px;
    color: white;
}

/* Variasi Lulus & Gagal */
.is-lulus .res-header { background-color: #4ba72c; }
.is-lulus .status-label { color: #8bb1e9; }

.is-gagal .res-header { background-color: #a72c2c; }
.is-gagal .status-label { color: #ff9b9b; }

.user-name { font-size: 1.8rem; font-weight: 800; margin-bottom: 20px; }
.status-label { font-weight: bold; font-size: 0.8rem; display: block; margin-bottom: 5px; }

.msg-box {
    background: white;
    color: #333;
    padding: 15px;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 0.9rem;
}